html {
    background-color: #f64747;
    font-family: laos, sans-serif;
    color: #FFF;
}

h1 { 
    font-size: 4rem; 
}

p { 
    font-size: 2rem; 
}

.section { 
    height: 100vh; 
    justify-content: center;
    align-items: center;
    color: #FFF;
}